@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "MyriadPro-BlackCond";
  src: url("../fonts/myriadpro-blackcond.eot");
  src: local("☺"), url("../fonts/myriadpro-blackcond.woff") format("woff"), url("../fonts/myriadpro-blackcond.ttf") format("truetype"), url("../fonts/myriadpro-blackcond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bernadette";
  src: url("../fonts/bernadette.eot");
  src: local("☺"), url("../fonts/bernadette.woff") format("woff"), url("../fonts/bernadette.ttf") format("truetype"), url("../fonts/bernadette.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "Lato", sans-serif;
  min-width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.wrapper .main {
  flex: 1 1 auto;
}

.header {
  color: #ffffff;
  background: url("../img/Header/banner.png") 50% 0/100% 80% no-repeat;
}
.header__container {
  max-width: 1512px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.header_logo {
  width: auto;
  max-height: 56px;
}
.header__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  margin-right: 35px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__content {
  text-align: center;
  margin: 160px auto;
}
.header__content * {
  margin-bottom: 40px;
}
.header__content .button {
  margin-bottom: 0;
}
.header__label {
  margin: 0 20px 40px;
  font-family: "Bernadette";
  font-size: 111px;
  font-weight: 400;
  letter-spacing: -1.05px;
}
.header__title {
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 0.61px;
}
.header__text {
  margin-left: auto;
  margin-right: auto;
  max-width: 639px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.link {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.link_color-text-black {
  color: #020202;
}

.button {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
  white-space: nowrap;
  padding: 14px 24px;
  border-radius: 60px;
}
.button_black {
  color: #020202;
  background-image: none;
}

.header__footer {
  max-width: 1171px;
}

.card__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
}
.card__item {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  flex: 0 1 30%;
  justify-content: center;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.card__img {
  background-size: contain;
}
.card__body {
  height: 100%;
  padding: 25px 30px;
  padding-bottom: 35px;
  text-align: center;
  color: #333332;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
}
.card__title {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 700;
}
.card__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.button_flying {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.About {
  color: #040404;
}
.About__container {
  margin: 0 auto;
  padding: 120px 15px;
  max-width: 1202px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.About__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
}
.Left-column__title {
  color: #333332;
  font-family: "Bernadette";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.58px;
  margin-bottom: 30px;
}
.Left-column__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 45px;
}
.Left-column_bold {
  font-weight: 400;
  letter-spacing: 0.45px;
}
.Left-column_button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.Right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.Right-column__text {
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
}
.Right-column__title {
  color: #333332;
  font-family: "Bernadette";
  font-size: 47px;
  font-weight: 400;
  letter-spacing: -1.58px;
}

.Features__container {
  margin: 0 auto;
  max-width: 1202px;
  padding: 20px 15px 75px 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.Features_img {
  flex: 1 1 auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Features__card {
  max-width: 80%;
  padding: 15px 30px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Features__title {
  color: #333332;
  font-family: "Bernadette";
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1.58px;
}
.Features__text {
  color: #040404;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  text-align: center;
  margin: 35px 0;
}

.Our-Services {
  background: url("../img/Our-Services/library.jpg") 100% 0/45% 100% no-repeat, #f4f4f4;
  padding-top: 90px;
  padding-bottom: 70px;
}
.Our-Services__container {
  max-width: 1202px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Our-Services__body {
  color: #040404;
}
.Our-Services__title {
  color: #333332;
  font-family: "Bernadette";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.58px;
}
.Our-Services__text {
  margin: 40px auto 40px 0;
  max-width: 450px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.45px;
}
.Our-Services__bold {
  font-weight: 400;
}
.Our-Services__card {
  position: relative;
  right: 25%;
  display: flex;
  flex-wrap: wrap;
  max-width: 355px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: #646464;
  background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
  padding: 15px;
}
.Our-Services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  padding: 30px;
  color: #ffffff;
  border-bottom: 4px dotted rgba(255, 255, 255, 0.5);
  border-right: 4px dotted rgba(255, 255, 255, 0.5);
}
.Our-Services__item:nth-child(even) {
  border-right: none;
}
.Our-Services__item:nth-last-child(2) {
  border-bottom: none;
}
.Our-Services__item:last-child {
  border-bottom: none;
}
.Our-Services__icon {
  background-size: auto auto;
  max-width: 46px;
  max-height: 45px;
  margin-bottom: 10px;
  fill: #ffffff;
}
.Our-Services__title-card {
  max-width: 82px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.42px;
}

.Team__container {
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.Team__container::after {
  content: "";
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #f4f4f4;
  position: absolute;
}
.Team__title {
  color: #333332;
  font-family: "Bernadette";
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1.58px;
  margin-bottom: 40px;
}
.Team__text {
  max-width: 1105px;
  color: #313131;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.45px;
  margin-bottom: 40px;
}
.Team__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 2;
  margin-bottom: 50px;
}
.Team__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 218px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.Team__item:last-child {
  margin-right: 0;
}
.Team__img {
  width: 100%;
  margin-bottom: 15px;
}
.Team__Name {
  color: #333332;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.61px;
  margin-bottom: 5px;
}
.Team__Post {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #a3a3a3;
}

.progress {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.progress:last-child {
  margin-bottom: 0px;
}
.progress:before {
  content: "";
  width: 100%;
  height: 14px;
  border-radius: 7px;
  background-color: #e0e0e0;
  position: absolute;
  right: 0;
  bottom: -14px;
}
.progress:after {
  content: "80%";
  color: #333332;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0.61px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.progress__category {
  color: #333332;
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.61px;
  margin-bottom: 10px;
}
.progress__bar {
  width: 80%;
  height: 14px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  background-color: #fba419;
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
}

.Member-Page__container {
  padding-left: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  height: 100%;
}
.Member-Page__block-plug {
  flex: 1 1 auto;
}
.Member-Page__body {
  max-width: 483px;
  padding-right: 55px;
}
.Member-Page__title {
  color: #333332;
  font-family: "Bernadette";
  font-size: 65px;
  font-weight: 400;
  letter-spacing: -1.58px;
}
.Member-Page__Post {
  color: #505050;
  font-size: 22px;
  font-weight: 700;
  line-height: 33.29px;
  letter-spacing: 0.5px;
}
.Member-Page__text {
  color: #040404;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.45px;
  margin: 30px auto 70px 0;
}
.Member-Page__Person {
  flex: 1 1 auto;
  display: flex;
}

.Personal-card {
  display: flex;
  flex: 1 1 auto;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #b19c93;
  background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
}
.Personal-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 25px;
  width: 100%;
}
.Personal-card__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  max-width: 310px;
}
.Personal-card__text span {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.53px;
}
.Personal-card__Media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Personal-card__Media a {
  margin-left: 10px;
}
.Personal-card__Media a:first-child {
  margin-left: 0;
}
.Personal-card__item {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}/*# sourceMappingURL=style.css.map */