@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "MyriadPro-BlackCond";
  src: url("../fonts/myriadpro-blackcond.eot");
  src: local("☺"), url("../fonts/myriadpro-blackcond.woff") format("woff"), url("../fonts/myriadpro-blackcond.ttf") format("truetype"), url("../fonts/myriadpro-blackcond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bernadette";
  src: url("../fonts/bernadette.eot");
  src: local("☺"), url("../fonts/bernadette.woff") format("woff"), url("../fonts/bernadette.ttf") format("truetype"), url("../fonts/bernadette.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.wrapper .main {
  flex: 1 1 auto;
}

.header {
  color: #ffffff;
  background: url("../img/Header/banner.png") 50% 0/100% 80% no-repeat;
}
.header_logo {
  width: auto;
  max-height: 56px;
}
.header__container {
  max-width: 1512px;
  min-height: 821px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 -17.5px;
}
.header__item {
  margin: 0 17.5px;
}
.header__content {
  text-align: center;
  margin-top: 135px;
}
.header__content * {
  margin-bottom: 41px;
}
.header__label {
  font-family: "Bernadette";
  font-size: 111px;
  font-weight: 400;
  letter-spacing: -1.05px;
}
.header__title {
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 0.61px;
}
.header__text {
  margin-left: auto;
  margin-right: auto;
  max-width: 639px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.header__footer {
  max-width: 1171px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 88px;
}

.link {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.link_color-text-black {
  color: #020202;
}

.button {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
  padding: 14px 24px;
  border-radius: 60px;
}
.button_black {
  color: #020202;
  background-image: none;
}

.card__item {
  position: relative;
  max-width: 372px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: #ffffff;
  color: #333332;
  text-align: center;
}
.card__item * {
  margin-bottom: 25px;
}
.card__img {
  width: 100%;
  height: 50%;
}
.card__title {
  font-size: 25px;
  font-weight: 700;
}
.card__text {
  color: #040404;
  max-width: 61%;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.card .button {
  margin-bottom: 0;
  position: absolute;
  bottom: -21px;
  left: 50%;
  transform: translate(-50%, 0);
}/*# sourceMappingURL=style.css.map */