// Файл обнуляющих стилей
@import "_nullstyle";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap");

@font-face {
    font-family: "MyriadPro-BlackCond";
    src: url("../fonts/myriadpro-blackcond.eot");
    src: local("☺"), url("../fonts/myriadpro-blackcond.woff") format("woff"),
        url("../fonts/myriadpro-blackcond.ttf") format("truetype"),
        url("../fonts/myriadpro-blackcond.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bernadette";
    src: url("../fonts/bernadette.eot");
    src: local("☺"), url("../fonts/bernadette.woff") format("woff"), url("../fonts/bernadette.ttf") format("truetype"),
        url("../fonts/bernadette.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

// тут стили
$Gradient-buttons: linear-gradient(to right, #de813c 0%, #3f519a 100%);
$title-colour: #333332;
$text-colour: #040404;

html,
body {
    font-family: "Lato", sans-serif;
    min-width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    .main {
        flex: 1 1 auto;
    }
}

.header {
    color: #ffffff;
    background: url("../img/Header/banner.png") 50% 0/100% 80% no-repeat;
    &__container {
        max-width: 1512px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__body {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    &_logo {
        width: auto;
        max-height: 56px;
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__content {
        text-align: center;
        margin: 160px auto;
        * {
            margin-bottom: 40px;
        }
        .button {
            margin-bottom: 0;
        }
    }
    &__label {
        margin: 0 20px 40px;
        font-family: "Bernadette";
        font-size: 111px;
        font-weight: 400;
        letter-spacing: -1.05px;
    }
    &__title {
        font-size: 37px;
        font-weight: 700;
        letter-spacing: 0.61px;
    }
    &__text {
        margin-left: auto;
        margin-right: auto;
        max-width: 639px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
}
.link {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_color-text-black {
        color: #020202;
    }
}

.button {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    background-image: $Gradient-buttons;
    white-space: nowrap;
    padding: 14px 24px;
    border-radius: 60px;
    &_black {
        color: #020202;
        background-image: none;
    }
}

.header {
    &__footer {
        max-width: 1171px;
    }
}
.card {
    &__row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        flex: 0 1 30%;
        justify-content: center;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    &__img {
        // width: 100%;
        // max-height: 821px;
        background-size: contain;
    }
    &__body {
        height: 100%;
        padding: 25px 30px;
        padding-bottom: 35px;
        text-align: center;
        color: $title-colour;
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
    }
    &__title {
        margin-bottom: 25px;
        font-size: 25px;
        font-weight: 700;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
}
.button {
    &_flying {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

// About

.About {
    color: $text-colour;
    &__container {
        margin: 0 auto;
        padding: 120px 15px;
        max-width: 1202px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.Left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33%;
    &__title {
        color: $title-colour;
        font-family: "Bernadette";
        font-size: 50px;
        font-weight: 400;
        letter-spacing: -1.58px;
        margin-bottom: 30px;
    }
    &__text {
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 45px;
    }
    &_bold {
        font-weight: 400;
        letter-spacing: 0.45px;
    }
    &_button {
        width: max-content;
    }
}
.Right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    &__text {
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
        letter-spacing: 0.45px;
        margin-bottom: 45px;
    }
    &__title {
        color: $title-colour;
        font-family: "Bernadette";
        font-size: 47px;
        font-weight: 400;
        letter-spacing: -1.58px;
    }
}

// Features
.Features {
    &__container {
        margin: 0 auto;
        max-width: 1202px;
        padding: 20px 15px 75px 15px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    &_img {
        flex: 1 1 auto;
        margin-bottom: 10px;
        &:nth-child(odd) {
            margin-right: 10px;
        }
    }
    &__card {
        padding: 15px 30px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__title {
        color: $title-colour;
        font-family: "Bernadette";
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        letter-spacing: -1.58px;
    }
    &__text {
        color: $text-colour;
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
        text-align: center;
        margin: 35px 0;
    }
}

//     Our-Services
.Our-Services {
    background: url("../img/Our-Services/library.jpg") 100% 0/ 45% 100% no-repeat, #f4f4f4;
    padding-top: 90px;
    padding-bottom: 70px;
    &__container {
        max-width: 1202px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__body {
        color: $text-colour;
    }
    &__title {
        color: $title-colour;
        font-family: "Bernadette";
        font-size: 50px;
        font-weight: 400;
        letter-spacing: -1.58px;
    }
    &__text {
        margin: 40px auto 40px 0;
        max-width: 450px;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.45px;
    }
    &__bold {
        font-weight: 400;
    }
    &__card {
        position: relative;
        right: 25%;
        //transform: translate(-50%, 0);
        display: flex;
        flex-wrap: wrap;
        max-width: 355px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        background-color: #646464;
        background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
        padding: 15px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        padding: 30px;
        color: #ffffff;
        border-bottom: 4px dotted rgba(255, 255, 255, 0.5);
        border-right: 4px dotted rgba(255, 255, 255, 0.5);
        &:nth-child(even) {
            border-right: none;
        }
        &:nth-last-child(2) {
            border-bottom: none;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &__icon {
        background-size: auto auto;
        max-width: 46px;
        max-height: 45px;
        margin-bottom: 10px;
        fill: #ffffff;
    }
    &__title-card {
        max-width: 82px;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.42px;
    }
}

//  Team
.Team {
    &__container {
        max-width: 1300px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            bottom: 0;
            width: 100%;
            height: 40%;
            background-color: #f4f4f4;
            position: absolute;
        }
    }
    &__title {
        color: #333332;
        font-family: "Bernadette";
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        letter-spacing: -1.58px;
        margin-bottom: 40px;
    }
    &__text {
        max-width: 1105px;
        color: #313131;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.45px;
        margin-bottom: 40px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        z-index: 2;
        margin-bottom: 50px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 218px;
        // padding-right: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__img {
        width: 100%;
        margin-bottom: 15px;
    }
    &__Name {
        color: #333332;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.61px;
        margin-bottom: 5px;
    }
    &__Post {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #a3a3a3;
    }
}

// Member-Page
.progress {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0px;
    }
    &:before {
        content: "";
        width: 100%;
        height: 14px;
        border-radius: 7px;
        background-color: #e0e0e0;
        position: absolute;
        right: 0;
        bottom: -14px;
    }
    &:after {
        content: "80%";
        color: #333332;
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 0.61px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__category {
        color: #333332;
        display: inline-block;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.61px;
        margin-bottom: 10px;
    }
    &__bar {
        width: 80%;
        height: 14px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        background-color: #fba419;
        background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
    }
}

.Member-Page {
    &__container {
        padding-left: 15px;
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        height: 100%;
    }
    &__block-plug {
        flex: 1 1 auto;
    }
    &__body {
        max-width: 483px;
        padding-right: 55px;
    }
    &__title {
        color: #333332;
        font-family: "Bernadette";
        font-size: 65px;
        font-weight: 400;
        letter-spacing: -1.58px;
    }
    &__Post {
        color: #505050;
        font-size: 22px;
        font-weight: 700;
        line-height: 33.29px;
        letter-spacing: 0.5px;
    }
    &__text {
        color: #040404;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.45px;
        margin: 30px auto 70px 0;
    }
    &__Person {
        flex: 1 1 auto;
        display: flex;
    }
}
.Personal-card {
    display: flex;
    flex: 1 1 auto;
    box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
    background-color: #b19c93;
    background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 25px;
        width: 100%;
    }
    &__text {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        max-width: 310px;
        span {
            font-size: 21px;
            font-weight: 500;
            letter-spacing: 0.53px;
        }
    }
    &__Media {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
            margin-left: 10px;
        }
        a:first-child {
            margin-left: 0;
        }
    }
    &__item {
        width: 60px;
        height: 60px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }
}
